-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: shippingmanagementdatabase
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cargomanifestentries`
--

DROP TABLE IF EXISTS `cargomanifestentries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cargomanifestentries` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Container` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Row` int NOT NULL,
  `Bay` int NOT NULL,
  `Tier` int NOT NULL,
  `StorageAreaId` bigint NOT NULL,
  `CargoManifestId` bigint NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_CargoManifestEntries_CargoManifestId` (`CargoManifestId`),
  KEY `IX_CargoManifestEntries_StorageAreaId` (`StorageAreaId`),
  CONSTRAINT `FK_CargoManifestEntries_CargoManifests_CargoManifestId` FOREIGN KEY (`CargoManifestId`) REFERENCES `cargomanifests` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_CargoManifestEntries_StorageAreas_StorageAreaId` FOREIGN KEY (`StorageAreaId`) REFERENCES `storageareas` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=241 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cargomanifestentries`
--

LOCK TABLES `cargomanifestentries` WRITE;
/*!40000 ALTER TABLE `cargomanifestentries` DISABLE KEYS */;
INSERT INTO `cargomanifestentries` VALUES (1,'ABCU1112222',1,1,1,1,1);
INSERT INTO `cargomanifestentries` VALUES (2,'ABCU2223334',2,1,1,1,1);
INSERT INTO `cargomanifestentries` VALUES (3,'ABCU3332221',1,2,1,1,2);
/*!40000 ALTER TABLE `cargomanifestentries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cargomanifests`
--

DROP TABLE IF EXISTS `cargomanifests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cargomanifests` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Type` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `VesselVisitNotificationId` bigint NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_CargoManifests_VesselVisitNotificationId` (`VesselVisitNotificationId`),
  CONSTRAINT `FK_CargoManifests_VesselVisitNotification_VesselVisitNotificati~` FOREIGN KEY (`VesselVisitNotificationId`) REFERENCES `vesselvisitnotification` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cargomanifests`
--

LOCK TABLES `cargomanifests` WRITE;
/*!40000 ALTER TABLE `cargomanifests` DISABLE KEYS */;
INSERT INTO `cargomanifests` VALUES (1,'Loading',1);
INSERT INTO `cargomanifests` VALUES (2,'Unloading',2);
INSERT INTO `cargomanifests` VALUES (3,'Loading',3);
/*!40000 ALTER TABLE `cargomanifests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crewmembers`
--

DROP TABLE IF EXISTS `crewmembers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crewmembers` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `CitizenId` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Rank` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Nationality` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `VesselVisitNotificationDataModelId` bigint DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_CrewMembers_VesselVisitNotificationDataModelId` (`VesselVisitNotificationDataModelId`),
  CONSTRAINT `FK_CrewMembers_VesselVisitNotification_VesselVisitNotificationD~` FOREIGN KEY (`VesselVisitNotificationDataModelId`) REFERENCES `vesselvisitnotification` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crewmembers`
--

LOCK TABLES `crewmembers` WRITE;
/*!40000 ALTER TABLE `crewmembers` DISABLE KEYS */;
INSERT INTO `crewmembers` VALUES (1,'Captain 1','CPT001','Captain','PT',1);
INSERT INTO `crewmembers` VALUES (2,'Captain 2','CPT002','Captain','PT',2);
INSERT INTO `crewmembers` VALUES (3,'Captain 3','CPT003','Captain','PT',3);
/*!40000 ALTER TABLE `crewmembers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `decision`
--

DROP TABLE IF EXISTS `decision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `OfficerId` bigint NOT NULL,
  `VesselVisitNotificationId` bigint NOT NULL,
  `DecisionDate` datetime(6) NOT NULL,
  `Status` int NOT NULL,
  `ResponseMessage` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Decision_VesselVisitNotificationId` (`VesselVisitNotificationId`),
  CONSTRAINT `FK_Decision_VesselVisitNotification_VesselVisitNotificationId` FOREIGN KEY (`VesselVisitNotificationId`) REFERENCES `vesselvisitnotification` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision`
--

LOCK TABLES `decision` WRITE;
/*!40000 ALTER TABLE `decision` DISABLE KEYS */;
/*!40000 ALTER TABLE `decision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docks`
--

DROP TABLE IF EXISTS `docks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docks` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `LastModifiedAt` datetime(6) NOT NULL,
  `Name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Location` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Length` int NOT NULL,
  `Depth` int NOT NULL,
  `MaxDraft` int NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Docks_Location` (`Location`),
  UNIQUE KEY `IX_Docks_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docks`
--

LOCK TABLES `docks` WRITE;
/*!40000 ALTER TABLE `docks` DISABLE KEYS */;
INSERT INTO `docks` VALUES (1,'2025-11-21 15:49:56.028481','Dock A','Port 1',500,30,15);
INSERT INTO `docks` VALUES (2,'2025-11-21 15:49:56.028496','Dock B','Port 2',300,20,10);
/*!40000 ALTER TABLE `docks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dockvesseltypeallowed`
--

DROP TABLE IF EXISTS `dockvesseltypeallowed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dockvesseltypeallowed` (
  `DockDataModelId` bigint NOT NULL,
  `VesselTypesAllowedId` bigint NOT NULL,
  PRIMARY KEY (`DockDataModelId`,`VesselTypesAllowedId`),
  KEY `IX_DockVesselTypeAllowed_VesselTypesAllowedId` (`VesselTypesAllowedId`),
  CONSTRAINT `FK_DockVesselTypeAllowed_Docks_DockDataModelId` FOREIGN KEY (`DockDataModelId`) REFERENCES `docks` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_DockVesselTypeAllowed_VesselTypes_VesselTypesAllowedId` FOREIGN KEY (`VesselTypesAllowedId`) REFERENCES `vesseltypes` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dockvesseltypeallowed`
--

LOCK TABLES `dockvesseltypeallowed` WRITE;
/*!40000 ALTER TABLE `dockvesseltypeallowed` DISABLE KEYS */;
INSERT INTO `dockvesseltypeallowed` VALUES (1,1);
INSERT INTO `dockvesseltypeallowed` VALUES (2,1);
INSERT INTO `dockvesseltypeallowed` VALUES (1,2);
/*!40000 ALTER TABLE `dockvesseltypeallowed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physicalresourcequalifications`
--

DROP TABLE IF EXISTS `physicalresourcequalifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `physicalresourcequalifications` (
  `PhysicalResourceDataModelId` bigint NOT NULL,
  `QualificationRequirementsId` bigint NOT NULL,
  PRIMARY KEY (`PhysicalResourceDataModelId`,`QualificationRequirementsId`),
  KEY `IX_PhysicalResourceQualifications_QualificationRequirementsId` (`QualificationRequirementsId`),
  CONSTRAINT `FK_PhysicalResourceQualifications_PhysicalResources_PhysicalRes~` FOREIGN KEY (`PhysicalResourceDataModelId`) REFERENCES `physicalresources` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_PhysicalResourceQualifications_Qualifications_QualificationR~` FOREIGN KEY (`QualificationRequirementsId`) REFERENCES `qualifications` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physicalresourcequalifications`
--

LOCK TABLES `physicalresourcequalifications` WRITE;
/*!40000 ALTER TABLE `physicalresourcequalifications` DISABLE KEYS */;
INSERT INTO `physicalresourcequalifications` VALUES (1,1);
INSERT INTO `physicalresourcequalifications` VALUES (3,2);
INSERT INTO `physicalresourcequalifications` VALUES (2,3);
/*!40000 ALTER TABLE `physicalresourcequalifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physicalresources`
--

DROP TABLE IF EXISTS `physicalresources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `physicalresources` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Kind` int NOT NULL,
  `SetupTimeMinutes` int DEFAULT NULL,
  `OperationalCapacity` int NOT NULL,
  `AssignedStorageAreaCode` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `AssignedDockName` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `StartDay` int NOT NULL,
  `EndDay` int NOT NULL,
  `StartTime` time(6) NOT NULL,
  `EndTime` time(6) NOT NULL,
  `Status` int NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physicalresources`
--

LOCK TABLES `physicalresources` WRITE;
/*!40000 ALTER TABLE `physicalresources` DISABLE KEYS */;
INSERT INTO `physicalresources` VALUES (1,'STS001','STS Crane 1','Ship-to-Shore Crane 1',0,30,5,NULL,'Dock A',0,6,'00:00:00.000000','23:59:59.000000',0);
INSERT INTO `physicalresources` VALUES (2,'TRUCK001','Truck 1','Transport Truck 1',2,15,20,'WH001',NULL,1,5,'07:00:00.000000','19:00:00.000000',0);
INSERT INTO `physicalresources` VALUES (3,'MBL001','Mobile Crane 1','Mobile Crane 1',1,20,30,NULL,NULL,1,5,'08:00:00.000000','18:00:00.000000',0);
/*!40000 ALTER TABLE `physicalresources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qualifications`
--

DROP TABLE IF EXISTS `qualifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qualifications` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Code` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Name` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qualifications`
--

LOCK TABLES `qualifications` WRITE;
/*!40000 ALTER TABLE `qualifications` DISABLE KEYS */;
INSERT INTO `qualifications` VALUES (1,'STSOP','STS Crane Operator','Qualified to operate STS cranes.');
INSERT INTO `qualifications` VALUES (2,'MBLOP','Mobile Crane Operator','Qualified to operate mobile cranes.');
INSERT INTO `qualifications` VALUES (3,'TRUCKDR','Truck Driver','Qualified to drive trucks.');
/*!40000 ALTER TABLE `qualifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `representatives`
--

DROP TABLE IF EXISTS `representatives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `representatives` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `OrganizationId` bigint NOT NULL,
  `Name` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `CitizenId` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Nationality` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PhoneNumber` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Representatives_CitizenId` (`CitizenId`),
  UNIQUE KEY `IX_Representatives_Email` (`Email`),
  UNIQUE KEY `IX_Representatives_PhoneNumber` (`PhoneNumber`),
  KEY `IX_Representatives_OrganizationId` (`OrganizationId`),
  CONSTRAINT `FK_Representatives_ShippingAgentOrganizations_OrganizationId` FOREIGN KEY (`OrganizationId`) REFERENCES `shippingagentorganizations` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `representatives`
--

LOCK TABLES `representatives` WRITE;
/*!40000 ALTER TABLE `representatives` DISABLE KEYS */;
INSERT INTO `representatives` VALUES (1,1,'Rep1 Org1','CID1','PT','rep1org1@email.com','911111111','2025-11-21 15:49:56.125153');
INSERT INTO `representatives` VALUES (2,1,'Rep2 Org1','CID2','PT','rep2org1@email.com','922222222','2025-11-21 15:49:56.125172');
INSERT INTO `representatives` VALUES (3,2,'Rep1 Org2','CID3','ES','rep1org2@email.com','933333333','2025-11-21 15:49:56.125173');
/*!40000 ALTER TABLE `representatives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shippingagentorganizations`
--

DROP TABLE IF EXISTS `shippingagentorganizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shippingagentorganizations` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Code` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LegalName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `AlternativeName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `TaxNumber` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_ShippingAgentOrganizations_Address` (`Address`),
  UNIQUE KEY `IX_ShippingAgentOrganizations_Code` (`Code`),
  UNIQUE KEY `IX_ShippingAgentOrganizations_LegalName` (`LegalName`),
  UNIQUE KEY `IX_ShippingAgentOrganizations_TaxNumber` (`TaxNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shippingagentorganizations`
--

LOCK TABLES `shippingagentorganizations` WRITE;
/*!40000 ALTER TABLE `shippingagentorganizations` DISABLE KEYS */;
INSERT INTO `shippingagentorganizations` VALUES (1,'AAA1','LegalName1','AltName1','Address1','TaxNumber1','2025-11-21 15:49:56.125050');
INSERT INTO `shippingagentorganizations` VALUES (2,'BBB2','LegalName2','AltName2','Address2','TaxNumber2','2025-11-21 15:49:56.125065');
/*!40000 ALTER TABLE `shippingagentorganizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staffqualification`
--

DROP TABLE IF EXISTS `staffqualification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staffqualification` (
  `QualificationId` bigint NOT NULL,
  `StaffDataModelId` bigint NOT NULL,
  PRIMARY KEY (`QualificationId`,`StaffDataModelId`),
  KEY `IX_StaffQualification_StaffDataModelId` (`StaffDataModelId`),
  CONSTRAINT `FK_StaffQualification_Qualifications_QualificationId` FOREIGN KEY (`QualificationId`) REFERENCES `qualifications` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_StaffQualification_Staffs_StaffDataModelId` FOREIGN KEY (`StaffDataModelId`) REFERENCES `staffs` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staffqualification`
--

LOCK TABLES `staffqualification` WRITE;
/*!40000 ALTER TABLE `staffqualification` DISABLE KEYS */;
INSERT INTO `staffqualification` VALUES (1,1);
INSERT INTO `staffqualification` VALUES (2,1);
INSERT INTO `staffqualification` VALUES (1,2);
/*!40000 ALTER TABLE `staffqualification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staffs`
--

DROP TABLE IF EXISTS `staffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staffs` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Name` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Phone` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `OperationalWindow_StartDay` int NOT NULL,
  `OperationalWindow_EndDay` int NOT NULL,
  `OperationalWindow_StartTime` time(6) NOT NULL,
  `OperationalWindow_EndTime` time(6) NOT NULL,
  `Status` int NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Staffs_Email` (`Email`),
  UNIQUE KEY `IX_Staffs_Phone` (`Phone`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staffs`
--

LOCK TABLES `staffs` WRITE;
/*!40000 ALTER TABLE `staffs` DISABLE KEYS */;
INSERT INTO `staffs` VALUES (1,'Staff One','staff1@gmail.com','987654321',1,5,'09:00:00.000000','17:00:00.000000',0,'2025-11-21 15:49:56.404602');
INSERT INTO `staffs` VALUES (2,'Staff Two','staff2@gmail.com','987654322',2,6,'10:00:00.000000','18:00:00.000000',1,'2025-11-21 15:49:56.404631');
/*!40000 ALTER TABLE `staffs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storageareadock`
--

DROP TABLE IF EXISTS `storageareadock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `storageareadock` (
  `StorageAreaId` bigint NOT NULL,
  `DockId` bigint NOT NULL,
  `Distance` double NOT NULL,
  PRIMARY KEY (`StorageAreaId`,`DockId`),
  KEY `IX_StorageAreaDock_DockId` (`DockId`),
  CONSTRAINT `FK_StorageAreaDock_Docks_DockId` FOREIGN KEY (`DockId`) REFERENCES `docks` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_StorageAreaDock_StorageAreas_StorageAreaId` FOREIGN KEY (`StorageAreaId`) REFERENCES `storageareas` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storageareadock`
--

LOCK TABLES `storageareadock` WRITE;
/*!40000 ALTER TABLE `storageareadock` DISABLE KEYS */;
INSERT INTO `storageareadock` VALUES (1,1,10);
INSERT INTO `storageareadock` VALUES (1,2,40);
INSERT INTO `storageareadock` VALUES (2,1,20);
/*!40000 ALTER TABLE `storageareadock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storageareas`
--

DROP TABLE IF EXISTS `storageareas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `storageareas` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Code` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Location` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Type` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MaxCapacity` int NOT NULL,
  `CurrentCapacity` int NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_StorageAreas_Code` (`Code`),
  UNIQUE KEY `IX_StorageAreas_Location` (`Location`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storageareas`
--

LOCK TABLES `storageareas` WRITE;
/*!40000 ALTER TABLE `storageareas` DISABLE KEYS */;
INSERT INTO `storageareas` VALUES (1,'WH001','Warehouse 1','Warehouse',1000,200,'2025-11-21 15:49:56.088622');
INSERT INTO `storageareas` VALUES (2,'WH002','Warehouse 2','Warehouse',2000,500,'2025-11-21 15:49:56.088987');
/*!40000 ALTER TABLE `storageareas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `systemusers`
--

DROP TABLE IF EXISTS `systemusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `systemusers` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Code` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Username` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Role` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_SystemUsers_Email` (`Email`),
  UNIQUE KEY `IX_SystemUsers_Username` (`Username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `systemusers`
--

LOCK TABLES `systemusers` WRITE;
/*!40000 ALTER TABLE `systemusers` DISABLE KEYS */;
INSERT INTO `systemusers` VALUES (1,'USR0001','admin','user1@example.com','Admin',1);
INSERT INTO `systemusers` VALUES (2,'USR0002','operator','operator@example.com','LogisticOperator',1);
INSERT INTO `systemusers` VALUES (3,'USR0003','officer','portofficer@example.com','PortAuthorityOfficer',1);
/*!40000 ALTER TABLE `systemusers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vesselrecords`
--

DROP TABLE IF EXISTS `vesselrecords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vesselrecords` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `IMONumber` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `VesselName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `VesselTypeId` bigint NOT NULL,
  `Operator` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_VesselRecords_IMONumber` (`IMONumber`),
  KEY `IX_VesselRecords_VesselName` (`VesselName`),
  KEY `IX_VesselRecords_VesselTypeId` (`VesselTypeId`),
  CONSTRAINT `FK_VesselRecords_VesselTypes_VesselTypeId` FOREIGN KEY (`VesselTypeId`) REFERENCES `vesseltypes` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vesselrecords`
--

LOCK TABLES `vesselrecords` WRITE;
/*!40000 ALTER TABLE `vesselrecords` DISABLE KEYS */;
INSERT INTO `vesselrecords` VALUES (1,'9074729','Vessel One',1,'JOAO Shipping','2025-11-21 15:49:56.162813');
INSERT INTO `vesselrecords` VALUES (2,'9235672','Vessel Two',2,'MARIA Shipping','2025-11-21 15:49:56.162829');
INSERT INTO `vesselrecords` VALUES (3,'9241061','Vessel Three',2,'PEDRO Shipping','2025-11-21 15:49:56.162829');
/*!40000 ALTER TABLE `vesselrecords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vesseltypes`
--

DROP TABLE IF EXISTS `vesseltypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vesseltypes` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Capacity` int NOT NULL,
  `MaxRows` int NOT NULL,
  `MaxBays` int NOT NULL,
  `MaxTiers` int NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_VesselTypes_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vesseltypes`
--

LOCK TABLES `vesseltypes` WRITE;
/*!40000 ALTER TABLE `vesseltypes` DISABLE KEYS */;
INSERT INTO `vesseltypes` VALUES (1,'Large Container Ships','Large container ship',300,10,10,10,'2025-11-21 15:49:55.857810');
INSERT INTO `vesseltypes` VALUES (2,'Small Container Ships','Small container ship',100,10,5,5,'2025-11-21 15:49:55.858079');
INSERT INTO `vesseltypes` VALUES (3,'General Cargo','General cargo ship',200,10,10,100,'2025-11-21 15:49:55.858080');
/*!40000 ALTER TABLE `vesseltypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vesselvisitnotification`
--

DROP TABLE IF EXISTS `vesselvisitnotification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vesselvisitnotification` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Code` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `VesselId` bigint NOT NULL,
  `RepresentativeId` bigint NOT NULL,
  `ETA` datetime(6) NOT NULL,
  `ETD` datetime(6) NOT NULL,
  `CargoType` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Volume` double NOT NULL,
  `AssignedDockId` bigint DEFAULT NULL,
  `VisitStatus` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastModifiedAt` datetime(6) NOT NULL,
  `NumberOfCrewMembers` int NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_VesselVisitNotification_Code` (`Code`),
  KEY `IX_VesselVisitNotification_AssignedDockId` (`AssignedDockId`),
  KEY `IX_VesselVisitNotification_RepresentativeId` (`RepresentativeId`),
  KEY `IX_VesselVisitNotification_VesselId` (`VesselId`),
  CONSTRAINT `FK_VesselVisitNotification_Docks_AssignedDockId` FOREIGN KEY (`AssignedDockId`) REFERENCES `docks` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `FK_VesselVisitNotification_Representatives_RepresentativeId` FOREIGN KEY (`RepresentativeId`) REFERENCES `representatives` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_VesselVisitNotification_VesselRecords_VesselId` FOREIGN KEY (`VesselId`) REFERENCES `vesselrecords` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vesselvisitnotification`
--

LOCK TABLES `vesselvisitnotification` WRITE;
/*!40000 ALTER TABLE `vesselvisitnotification` DISABLE KEYS */;
INSERT INTO `vesselvisitnotification` VALUES (1,'2025-PA-000001',1,1,'2025-11-22 15:49:56.196543','2025-11-23 15:49:56.196543','Container',100,NULL,'InProgress','2025-11-21 15:49:56.196543',10);
INSERT INTO `vesselvisitnotification` VALUES (2,'2025-PA-000002',1,2,'2025-11-25 15:49:56.196543','2025-11-26 15:49:56.196543','Container',200,NULL,'InProgress','2025-11-21 15:49:56.196543',10);
INSERT INTO `vesselvisitnotification` VALUES (3,'2025-PA-000003',1,3,'2025-11-28 15:49:56.196543','2025-11-29 15:49:56.196543','Hazardous',300,NULL,'InProgress','2025-11-21 15:49:56.196543',10);
/*!40000 ALTER TABLE `vesselvisitnotification` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-21 16:01:02
